# CocoaPods
Pods/
# Uncomment the next line if you want to commit the Pods directory
# !Pods/

# Ensures the workspace is committed
!*.xcworkspace

# Ensures project file is committed
!*.xcodeproj

# Don't ignore shared schemes
!*.xcodeproj/xcshareddata/
!*.xcodeproj/xcshareddata/xcschemes/
!*.xcodeproj/xcshareddata/xcschemes/*.xcscheme